<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "وقت نمایش",root_path,class:'navbar-brand' %>
    </div>
    <% if user_signed_in? %>
        <div class="btn-group navbar-left">
          <%if user.has_role?(:admin) %>
              <button type="button" class="btn btn-default navbar-btn">
                <%= link_to "ثبت فیلم", new_user_registration_path, :class => 'navbar-link'  %>
              </button>
          <% end %>
            <li class="btn dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span> <%= current_user.email %></a>
              <ul class="dropdown-menu" role="menu">
                <%= link_to 'ویرایش مشخصات', edit_user_registration_path %>
                <li class="divider"></li>
                <%= link_to "خروج", destroy_user_session_path, method: :delete  %>
              </ul>
            </li>
        </div>
    <% else %>
    <div class="btn-group navbar-left">
      <button type="button" class="btn btn-default navbar-btn">
        <%= link_to "ثبت نام", new_user_registration_path, :class => 'navbar-link'  %>
      </button>
      <button type="button" class="btn btn-success navbar-btn">
        <%= link_to "ورود", new_user_session_path, :class => 'navbar-link'  %>
      </button>
    </div>
    <% end %>
  </div><!-- /.container-fluid -->
</nav>